
/*  --------------- Box Sizing -----------------  */

html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

img{
    max-width: 100%;
    height: auto;
}
/*  --------------- Background Images -----------------  */



/*  --------------- Utility Styles -----------------  */

.container{
    width:80vw;
    margin:40px auto;

}

.img-center{
    display:block;
    margin: 18px auto;
    border:4px double #5b5972;
    padding:5px;
    box-shadow: 2px 4px 2px rgba(0,0,0,.4);
}

/*  --------------- Global Styles -----------------  */

body{
    font-family: 'Roboto Mono', monospace;
    margin: 0;

    background-color: #ffffff;
    background-image: url();
}

header.primary{
    background-color: rgb(22, 22, 26);
    color:#fff;
    text-align: center;
    /*long form*/
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    /* T,R,B,L or (T/B),(R/L) */
    padding: 10px 20px 10px 20px;
    padding: 10px 20px;
}

header.primary h1 {
    font-size: 3.1rem;
    margin: 20px;
}

header.primary h1 a{
    color:#fff;
    text-decoration: none;
}

header.primary h2 a{
    font-size: 1.2rem;
    color:#fff;
}

header.primary nav{
    color: #fff;
    font-size: 1.2rem;
    max-width: 960px;
    margin: 20px auto;
}

header.primary nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
}

header.primary nav ul{
    list-style-type: none;
}

header.primary nav a{
    color:#fff;
    text-decoration: none;
    background-color: rgba(80, 21, 147, 0.493);
    padding: 8px 16px;
    border-radius: 16px;
    border: 1px solid #000;
    transition: .5s;
}

header.primary nav a:hover, header.primary nav a:active
{
    background-color: rgb(36, 21, 147);
}

#intro{
 border-bottom: 1px dotted rgb(69, 69, 69);
 padding-bottom: .875rem;
}

#intro h2{
    color: rgb(32, 17, 130);
    border-bottom: 1px dotted rgb(69, 69, 69);
   }

#content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
    border-bottom: 1px dotted rgb(69, 69, 69);
    padding-bottom: 2.6rem;
}

#practice{
    line-height: 1;
}

#practice h2{
    color: rgb(36, 21, 147);
    border-bottom: 1px dotted rgb(69, 69, 69);
}

#practice a{
    color: rgb(36, 21, 147);
}

#practice a:hover{
    text-decoration:none;
}

#practice h3{
    border-left:7.5px solid #1f1592;
    padding-left: 10px;
}


table{
    width:100%;
    border:1px solid #31303b;
    margin: 18px 0;
    border-collapse:collapse;
    background-color: rgba(208, 194, 255, 0.8);
}

table caption{
    font-weight: bold;
    margin-bottom: 8px;
}

table tr:nth-child(odd){
    background-color: rgba(0,0,0,.1);
}

table tr:hover{
    background-color: rgba(0,0,0,.2);
}

table th{
    background-color: #000;
    color:rgb(208, 194, 2558);
    padding: 10px;
}
table td{
    border: 1px dotted #725959;
}

ol {
    list-style-type: lower-roman;
  }

  li {
  }

  ul li > ul {
    list-style-type: square;
    color: #5a5972;
  }

  dl {
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
  }

  dd + dt {
    margin-top: 20px;
  }


aside[role="complementary"]{
    background-color:#1f1592;
    color:rgb(255, 255, 255);
    padding: 8px;
}

aside .container{
    display:flex;
    flex-direction: row;
    gap: 40px;
}


aside .container p{
    line-height:1;    
}

aside .container a{
    color: rgb(255, 255, 255);
    display:block;
    text-align: right;
    margin-top: 20px;
}

aside .container a:hover{
    color: #725959;
}

aside .container .widget footer{
    display:none !important;
}

#colophon{
    background-color: #171592; 
    text-align: center;
    position: sticky;
    bottom: 0;
}

#colophon h6{
    color: #fff;
    background-color: rgb(19, 17, 24);
    padding:8px;
    margin: 0;
  
}

   /*  --------------- Media Query -----------------  */

   @media screen and (max-width:800px){

        header.primary nav ul{
            flex-direction:column;
            max-width:300px;
            margin:auto;
            gap:20px
        }

        header.primary nav ul a{
            display:block;
        }

        #content{
            flex-direction:column;
        }
        #content img{
            display:block;
            margin: 10px auto;
        }

        aside .container{ 
            flex-direction:column;
        }

   }