html {}

* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #ECECEC;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	text-align: center;
	line-height: 24px;
}
#wrapper {
	background-color: #FFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
#red {
	background-color: #900;
	width:370px;
	height:125px;
	float:left;
}
#green {
	background-color: #090;
	width:370px;
	height:125px;
	float:left;
}
#blue {
	background-color: #00F;
	width:370px;
	height:125px;
	float:left;
}
#purple {
	background-color: #63C;
	width:370px;
	height:125px;
	float:left;
}
#footer {
	background-color: #666;
}
h1 {
	color: #000;
	font-weight: normal;
	padding: 50px;
}